@IMPORT url("main.css");

#bannerBackdrop {
	height: auto;
	position: static;
}

#pageHeader {
	height: auto;
    overflow: hidden;
}

.barnameCell {
    width: 30em;
}

.barcityCell {
    width: 20em;
}

h1 {
    margin-bottom: 0.5ex;
}

h2 {
    margin-bottom: 0.5ex;
}

#linksList {
    float: right;
    max-width: 25%;
}

#linksList h2 {
    margin-bottom: 0.7em;
}

p {
    line-height: normal;
    margin-top: 0;
}

#pageBody {
    float: left;
    max-width: 70%;
}

table {
    border-collapse: collapse;
}

td {
    background-color: midnightBlue;
    border-bottom: medium solid white;
    color: whiteSmoke;
    padding: 1ex;
}

td a {
    color: whiteSmoke;
}