/* For rendering the main search and display results page */
@IMPORT url("main.css");

body {
	height: 100%;
}
html {
	height: 100%;
}
#ie7root .searchResultsPageControlNumber {
	padding-right: 0.5ex;
}
#ie7root #searchResultsPageControl {
	margin-right: 1ex;
}
#ie7root #searchResultsPageControl a {
	margin-top: -2.5ex;
}
#mapCanvas {
	width: 100%;
	height: 100%;
}
#mapCell {
	width: 70%;
}
.popupInfo {
	/* Prevents the "X" button from overlapping long place names. */
	padding-right: 1em;
	/* This max-width fixes a problem with IE where the popup bubble
	 * gets stretched out. It also makes rendering more consistent
	 * in all browsers with long bar names.
	 */
	width: 15em;
}
.popupInfoFooter {
	font-size: small;
}
.popupInfoFooter a {
	float: right;
	/** Compensates for the popup info's right padding */
	margin-right: -1.5em;
	margin-top: 0.5ex;
}
.popupInfoFooter span {
	clear: left;
	float: left;
	font-style: italic;
	margin-bottom: 1.5ex;
	margin-top: 0.5ex;
}
.popupInfoFooter .smokingRestriction {
	width: 20em;
}
#searchCell {
	padding-left: 1ex;
	vertical-align: top;
}
#searchDirections {
	display: block;
	font-size: small;
}
#searchInput {
	width: 25em;
}
.searchResult {
	margin-left: -1ex;
	/* Without this little bit of margin-bottom, IE displays the result below indented
	 * at zoom levels other than 100%. In IE 7, this also helps prevent the background
	 * color from covering the glyph, though not for all zoom levels.
	 */
	margin-bottom: 0.5ex;
}
#searchResultsPageControl {
	display: none;
	margin-bottom: 1em;
}
#searchResultsPageControl a {
	float: right;
}
td {
	height: 100%;
}
table {
	height: 85%;
	margin-left: -1ex;
	width: 100%;
}
#userAddressInfo {
	margin-bottom: 2em;
	margin-left: -1ex;
}
#userAddressInfo .placeGlyph {
	margin-top: 0;
}